* {
	font-family:'Inter',sans-serif;
}

html {
	background-color: var(--bg-color);
}

::-webkit-scrollbar{display:none}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-light);
	background-color: var(--bg-color);

	&.full-width {
	@include media-breakpoint-up(md) {
		.container {
				width: 90%;
				max-width: 100%;
			}
		}
	}
}

a {
	color: $text-color;
	cursor: pointer;
}

a,
a:hover,
a:active,
a:focus,
.btn,
.btn:hover,
.btn:active,
.btn:focus {
	outline: 0;
}

a.grey,
.sidebar-section a,
.control-value a,
.data-row a {
	text-decoration: none;
}

a.grey:hover,
.sidebar-section a:hover,
.control-value a:hover,
.data-row a:hover,
a.grey:focus,
.sidebar-section a:focus,
.control-value a:focus,
.data-row a:focus {
	text-decoration: underline;
}

a.disabled,
a.disabled:hover {
	color: var(--text-muted);
	cursor: default;
	text-decoration: none;
}

a.text-muted,
a.text-extra-muted {
	text-decoration: none;
}

a.badge-hover {
	&:hover .badge,
	&:focus .badge,
	&:active .badge {
		background-color: var(--bg-gray);
	}
}

.underline {
	text-decoration: underline;
}

.pointer {
	cursor: pointer;
}

.inline-block {
	display: inline-block;
}

.bold,
.strong {
	font-weight: bold;
}

pre {
	color: var(--text-light);
	white-space: pre-wrap;
}

.col-xs-1 { @extend .col-1; }
.col-xs-2 { @extend .col-2; }
.col-xs-3 { @extend .col-3; }
.col-xs-4 { @extend .col-4; }
.col-xs-5 { @extend .col-5; }
.col-xs-6 { @extend .col-6; }
.col-xs-7 { @extend .col-7; }
.col-xs-8 { @extend .col-8; }
.col-xs-9 { @extend .col-9; }
.col-xs-10 { @extend .col-10; }
.col-xs-11 { @extend .col-11; }
.col-xs-12 { @extend .col-12; }

.btn-default { @extend .btn-light; }

.hidden-xs, .hidden-sm {
	@include media-breakpoint-between(xs, sm) {
		display: none !important;
	}
}

.hidden-md {
	@include media-breakpoint-between(xs, md) {
		display: none !important;
	}
}

.hidden-lg {
	@include media-breakpoint-up(md) {
		display: none !important;
	}
}

.hidden-xl {
	@include media-breakpoint-up(lg) {
		display: none !important;
	}
}

.visible-xs {
	@include media-breakpoint-up(sm) {
		display: none !important;
	}
}

footer {
	flex-shrink: 0;
}

.pull-right {
	float: right;
}

img {
	max-width: 100%;
	height: auto;
}

.missing-image {
	background-color: var(--bg-light-gray);
	line-height: 140px;
	vertical-align: middle;
	text-align: center;
	width: 140px;
	height: 140px;
	border-radius: var(--border-radius-sm);

	&.small {
		width: 20px;
		height: 20px;
	}

	.icon {
		stroke: var(--text-muted);
	}
}


.hide-control {
	@extend .d-none;
}

.text-underline {
	text-decoration: underline;
}

.no-underline {
	text-decoration: none !important;
}

h1, h2, h3, h4 {
	color: var(--text-color);
	margin-bottom: var(--margin-md)
}

h1, h2, h3 {
	font-weight: bold;
}

p {
	margin-bottom: var(--margin-sm)
}

.small {
	font-size: var(--text-sm);
}

h1 {
	font-size: $font-size-3xl;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: -0.025em;

	@include media-breakpoint-up(sm) {
		line-height: 2.5rem;
		font-size: $font-size-4xl;
	}
	@include media-breakpoint-up(xl) {
		line-height: 1;
		font-size: $font-size-5xl;
	}
}

h2 {
	font-size: $font-size-xl;
	font-weight: bold;

	@include media-breakpoint-up(sm) {
		font-size: $font-size-2xl;
	}
	@include media-breakpoint-up(md) {
		font-size: $font-size-3xl;
	}
}

.btn-group-sm > .btn, .btn-sm {
	padding: var(--padding-xs) var(--padding-sm);
	font-size: var(--text-md);
}

.btn-group {
	.btn {
		box-shadow: none;
		outline: 1px solid var(--btn-group-border-color);

		&:not(:first-child) {
			margin-left: 1px;
		}

		&:focus {
			outline: 2px solid var(--dark-border-color);
		}
	}
}

.btn-xs {
	@extend .btn-sm;
	line-height: 1.2;
	padding: var(--padding-xs) var(--padding-sm);
	font-size: var(--text-xs);
}

.input-xs {
	height: 26px;
	font-size: var(--text-md);
}

select.input-xs {
	line-height: 1.2;
}

/* popover */
.popover {
	background-color: var(--popover-bg);
	border: 0;
}

.bold {
	font-weight: 600;
}

.text-color {
	color: var(--text-color);
}

/* dropdowns */

.dropdown-item {
	border-radius: 4px;
}

.dropdown-menu {
	padding: 4px;
	font-size: var(--text-md);
	max-height: 500px;
	overflow: auto;

	.dropdown-divider {
		margin: 4px 0;
	}

	.divider {
		@extend .dropdown-divider;
	}

	a:not([href]):hover:active {
		color: $component-active-color;
	}
	a {
		transition: none;
		cursor: pointer;
	}
	a:active {
		--icon-stroke: #{$component-active-color};
	}

	.divider, .dropdown-divider {
		margin: 0px;
	}

	:last-child {
		&.dropdown-divider {
			display: none;
		}
		.divider, .dropdown-divider {
			display: none;
		}
	}
}

.custom-control.custom-switch {
	font-size: var(--text-md);
	line-height: 1.6;

	.custom-control-input ~ .custom-control-label {
		cursor: pointer;
		&:before {
			background: var(--gray-500);
			border: none;
		}
	}

	.custom-control-input:checked ~ .custom-control-label {
		&:before {
			background: $primary;
		}
	}
}

// .frappe-card {
// 	@include card();
// }

.head-title {
	font-size: var(--text-lg);
	font-weight: 700;
	color: var(--heading-color);
}

kbd {
	background-color: var(--control-bg);
	font-family: var(--font-stack);
	color: var(--text-light);
	line-height: 1.2em;
	height: 20px;
	padding: 4px 8px;
}

.table {
	color: var(--text-color);
}

.appreciation {
	background-color: var(--appreciation-bg);
	color: var(--appreciation-color) !important;
}

.criticism {
	background-color: var(--criticism-bg);
	color: var(--criticism-color) !important;
}

.frappe-timestamp {
	cursor: default;
}

.standard-sidebar {
	font-size: var(--text-base);

	.standard-sidebar-section .standard-sidebar-label {
		margin-bottom: var(--margin-md);
		margin-top: var(--margin-sm);
	}

	.standard-sidebar-item,.dropdown-menus {
		@include flex(flex, null, center, null);
		font-size: 12px;
		padding: 8px 12px;
		margin-bottom: 6px;
		border-radius: var(--border-radius-md);
		overflow: hidden;
		cursor: pointer;

		.sidebar-item-label {
			// https://css-tricks.com/flexbox-truncated-text/
			min-width: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&:focus {
			background-color: var(--sidebar-select-color);
			outline: 0;
			text-decoration: none;
		}

		&:hover {
			background-color: var(--sidebar-select-color);
			text-decoration: none;
		}

		&.selected {
			background-color: var(--sidebar-select-color);
		}

		a {
			color: var(--text-color);
			text-decoration: none;
		}

		svg {
			margin-right: var(--margin-sm);
		}
	}
}

// freeze backdrop text
#freeze {
	z-index: 1055;
	bottom: 0;
	opacity: 0;
	background-color: var(--bg-color);

	.freeze-message-container {
		inset: 0;
		padding: 3rem;
		background-color: var(--bg-light-gray);
		color: var(--text-on-light-gray);
		font-size: larger;
		position: absolute;
		display: grid;
		place-content: center;
	}
}

#freeze.in {
	opacity: 0.8;
}

.msg-box {
	padding: var(--padding-xl) var(--padding-md);
	text-align: center;
	color: var(--text-muted);
}

/*rtl styles*/

.frappe-rtl {
	text-align: right;
	.modal-actions {
		right: auto !important;
		left: 5px;
	}
	input, textarea {
		direction: rtl !important;
	}

	.checkbox .disp-area {
		margin-right: -20px;
		margin-left: 0px;
	}
}

/* broken image styling */

img.no-image {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: var(--bg-light-gray);
}


@media (min-width: 768px) {
	.video-modal .modal-dialog {
		width: 700px;
	}
}

body.no-sidebar {
	@include media-breakpoint-up(md) {
		.layout-side-section {
			display: none;
		}

		.layout-main-section-wrapper {
			width: 100% !important;
		}
	}
}

.list-sidebar .list-sidebar-button {
	background-color:#F4F5F6 !important;
	border:1px solid #EBEEF0;
	box-sizing:border-box;
}

.form-sidebar .sidebar-image-section .sidebar-image {
	border:1px solid #EBEEF0;
}

.app-logo {
	width: 24px;
}

.alt-pressed .alt-underline {
	text-decoration: underline;
}

details > summary:focus {
	outline: none;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	vertical-align: middle;
}

.ellipsis-width {
	max-width: 200px;
}

.text-extra-muted {
	color: var(--gray-500) !important;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.uppercase {
	padding-bottom: var(--padding-xs);
	text-transform: uppercase;
	font-size: var(--text-sm);
	letter-spacing: 0.4px;
	color: var(--text-muted);
}

.text-regular {
	font-size: var(--text-base);
}

.text-medium {
	font-size: var(--text-md);
}

.text-small {
	font-size: var(--text-sm);
}

.text-large {
	font-size: var(--text-lg);
}

.disable-click {
	pointer-events: none;
}

.popover-title {
	display: none;
}

.highlight {
	transition: 0.5s ease background-color;
	box-shadow: var(--highlight-shadow) !important;
}

.dropdown-menu.small {
	font-size: var(--text-sm);
	min-width: 140px;
	.dropdown-item {
		padding: var(--padding-xs);
	}
}

.diffview {
	font-family: monospace;
	white-space: pre;
	word-wrap: break-word;
	color: var(--text-color);
}

.diffview .insert,
.diff-add {
	background-color: var(--diff-added);
}

.diffview .delete,
.diff-remove {
	background-color: var(--diff-removed);
}

.chart-wrapper {
	padding: 1em;
}

.share-btn {
	background-color: #202020;
	color:white;
	padding:8px 12px;
	border-radius:6px;
	font-size:13px;
	display:block;
	&:hover {
		color:white;
		text-decoration:none;
	}
}

.key-shortcut {
	position:absolute;
	right:-20px;
	margin-right:12px;
	height:27px;
	display:flex;
	border:1px solid #EBEEF0;
	border-radius:6px;
	background-color:white;
	padding:3px 7px;
	margin-top:5px;
	cursor:text;
	font-size:13px;
}

.nav-left-side {
	position:fixed;
	z-index:1021;
	height:100%;
	top:0;
	width:70px;
	background:white;
	padding:11px;
	border-right:1px solid #EBEEF0;
	img {
		display:block;
		width:100%;
		margin-bottom:6px;
		cursor:pointer;
		border-radius:6px;
	}
}

.form-section.card-section, .form-dashboard-section {
	border-bottom:none !important;
}

.nav-left-side-two {
	position:fixed;
	width:250px;
	background:white;
	border-right:1px solid #EBEEF0;
	top:0;
	z-index:1020;
	height:100%;
	padding:24px 14px;
	left:-250px;
	transition:left 300ms;
	&.active {
		left:70px;
		transition:left 300ms;
	}
	.sidebar-child-item.nested-container {
		margin-left:30px;
	}
}

.has-dropdown {
	padding-left:25px !important;
}

.with-dropdown {
	transform:rotateX(0deg) translateY(7px);
	cursor:pointer;
	.drop-icon .icon {
		width:12px;
		height:12px;
		stroke: #6A737A !important;
	}
	.sidebar-item-icon .icon {
		stroke: #98A1A9 !important;
	}
	.icon {
		transition:all 300ms;
	}
	&.active .drop-icon {
		.icon {
			transform:rotateX(180deg) translateY(-7px);
			margin-top:-15px !important;
			transition:all 300ms;
		}
	}
}

// .drop-icon {
// 	position:absolute;
// 	z-index:0;
// 	top:20%;
// 	left:3%
// }

.submenu {
	display:none;
	&.active {
		display:block;
	}
}

// .navbar,#body,.navbar-test {
// 	margin-left:320px;
// 	transition:margin-left 300ms, background 0ms;
// 	&.inactive {
// 		margin-left:70px;
// 		transition:margin-left 300ms, background 0ms;
// 	}
// }

.navbar,#body,.navbar-test {
	margin-left:70px;
}

.page-head .page-head-content {
	height:60px !important;
}

.navbar-test {
	display:none;
	justify-content:center;
	position:absolute;
	top:70px;
	width:calc(100% - 480px);
	li {
		margin-right:28px;
		&:first-child {
			list-style:none;
		}
	}
}

.navbar-test-menus{
	display:flex;
	z-index:7;
}

.nav-menus-title {
	font: {
		size:17px;
		weight:700;
	}
}

#other-breadcrumb {
    background: white;
    padding: 10px;
    position: absolute;
    z-index: 99;
    top: 45px;
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.3);
	display:none;
	&.active {display:block}
}

.standard-sidebar .standard-sidebar-item, .desk-sidebar .standard-sidebar-item, .search-dialog .search-results .search-sidebar .standard-sidebar-item {
	margin-bottom:6px;
}

.logo {
	cursor:pointer;
	position:relative;
	height:54px;
	width:54px;
	left:-2px;
	top:-5px;
}

.logo-mobile {
	z-index:-2;
	position:absolute;
	a {
		display:none;
	}
}

.new-timeline .timeline-item .timeline-content.frappe-card{
	box-shadow:none !important;
	border:1px solid #F0F0F0;
}

.nav-btns {
	height:47px;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom:7px;
	cursor:pointer;
	border-radius:9px;
	outline:0px solid #2794F0;
	border:3px solid white;
	&:hover {
	  background-color:#F0F1F2;
	}
	&.add-ons:hover {
	  outline:2px solid #2794F0;
	}
}

.grey {
	svg path {
		fill:#505A62;
	}
	&:active,&.active {
		background-color:#292929;
		outline:2px solid #2794F0;
		svg path {
			fill:#FFFFFF;
		}
	}
}

.item-anchor:hover {
	text-decoration:none;
}

#menu-two,#menu-three {
	display:none;
}

#heading-menu {
	font-size:17px;
	color:#1F272E;
}

#navbar-breadcrumbs {
	display:flex;
	margin-left:6px !important;
	li:first-child a::before{content:""}
	a {display:flex}
}

#navbar-search {
	border:solid 1px transparent;
    border-radius:6px;
    background-image:linear-gradient(#F4F5F6,#F4F5F6), linear-gradient(91.07deg, #006AFF 5.92%, rgba(0, 148, 255, 0.08) 33.93%, rgba(194, 147, 255, 0.5) 99.27%);
    background-origin:border-box;
    background-clip:padding-box, border-box;
	height:38px;
	width:320px !important;
	&:focus {background-image:linear-gradient(white,white), linear-gradient(91.07deg, #006AFF 5.92%, rgba(0, 148, 255, 0.08) 33.93%, rgba(194, 147, 255, 0.5) 99.27%)}
}

.layout-main-section,.form-page,.navbar,.btn, div#driver-popover-item .driver-popover-footer button, div#driver-popover-item .driver-popover-footer button.driver-next-btn, div#driver-popover-item .driver-popover-footer button.driver-prev-btn, div#driver-popover-item .driver-popover-footer button.driver-close-btn, div#driver-popover-item .driver-popover-footer button.driver-disabled {
	box-shadow:none !important;
}

.btn-default.ellipsis, .btn-secondary.btn-default, .btn-default.icon-btn, .btn-default {
	border:1px solid #D7D7D7;
}

.comment-box {
	box-shadow:none !important;
	.btn-comment {
		border:1px solid #D7D7D7;
	}
	.text-muted {
		padding-top:50px;
	}
}

.ql-bubble .ql-tooltip {
	width:100% !important;
	position:relative;
	display:block !important;
	top:90px !important;
	transform:translateY(6px) !important;
	border-radius:0 0 4px 4px !important;
}

.ql-bubble .ql-tooltip .ql-tooltip-arrow {
	border:none;
}

.dot-items {
	display:inline-block;
	min-width:6px;
	min-height:6px;
	background-color:#D6932E;
	border-radius:100px;
	margin-right:16px;
}

.timeline-message-box .text-color {
	font-weight:bold;
	.frappe-timestamp {
		font-weight:normal !important;
	}
}

.timeline-badge .icon {
	fill: black;
	stroke: black;
}

#lower-apps {
    position: absolute;
    width: calc(100% - 22px);
    bottom: 0;
}

#searchbar-top {
	position: absolute;
    right: 50%;
    transform: translateX(50%);
}

#expand-breadcrumb {
	cursor:pointer;
	display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
	visibility: hidden;
}

.page-head {
	margin-bottom:12px !important;
	box-shadow:none !important;
}

.form-tabs-list {
	transform:translateY(-15px);
    padding-top:15px;
}

.navbar {
	border-bottom:1px solid #EBEEF0;
}

.form-inline {
	transform:translateX(5%);
}

.navbar .container {
	width:100% !important;
	max-width:150% !important;
}

[id="page-Pricing Rule"],[id="page-Production Plan"],[id="page-Delivery Note"] {
	.container {
		max-width:1290px !important;
	}
}

// REDESIGN TODO: Handling of broken images?
// img.no-image:before {
// 	.img-background();
// }

// img.no-image:after {
// 	.img-foreground();
// }

// img.img-loading:before {
// 	.img-background();
// }

// img.img-loading:after {
// 	.img-foreground();
// 	font-family: 'Octicons';
// 	content: "\f00b";
// }

/*rtl:raw:
.dropdown-menu {
	right: auto;
}
.popover {
	right: auto;
}
.chart-container {
	direction: ltr;
}
*/

[data-theme="dark"] {
	.nav-left-side-two,.nav-left-side {
		background-color:#1C2126;
		border-color:#242a30;
	}
	.page-head,.navbar{
		border-bottom:1px solid #242a30;
	}
	#navbar-search {
		background-image:linear-gradient(#242a30, #242a30), linear-gradient(91.07deg, #006AFF 5.92%, rgba(0, 148, 255, 0.08) 33.93%, rgba(194, 147, 255, 0.5) 99.27%)
	}
	.key-shortcut{
		background-color:#242a30;
		border-color:#1c2126;
	}
	.standard-sidebar .standard-sidebar-item.selected, .desk-sidebar .standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected,.nav-btns:hover,.nav-btns.active,.standard-sidebar .standard-sidebar-item:hover, .desk-sidebar .standard-sidebar-item:hover, .search-dialog .search-results .search-sidebar .standard-sidebar-item:hover {
		background-color:#242a30;
	}
	#heading-menu {
		color:#F9FAFA;
	}
	.nav-btns {
		border-color:#1C2126;
	}
	.grey {
		svg path {
			fill:#FFFFFF;
		}
		&:active,&.active {
			background-color:#292929;
			outline:2px solid #2794F0;
			svg path {
				fill:#FFFFFF;
			}
		}
	}
}

@media (max-width:1500px){
	.nav-left-side-two {
		width:200px;
		padding:24px 6px;
	}
	.with-dropdown .icon {
		width:12px;
		height:12px;
	}
	.has-dropdown {
		padding-left:20px !important;
	}
}

@media (max-width:991px){
	.nav-left-side,.key-shortcut,#navbar-breadcrumbs{display:none !important}
	.navbar, #body, .navbar-test{margin-left:0}
	#navbar-search {
		max-width:320px !important;
		width:100% !important;
	}
	.logo-mobile a {
		display:initial;
		width:36px;
		position:static;
		z-index:initial;
	}
}