/* custom css code goes here */
:root {
	--left-sidebar-size:60px;
	--right-sidebar-size:266px;
}
#trigger {
    background-color:#F4F4F5;
    padding:8px 16px;
    border-radius:6px;
    display:flex;
    align-items:center;
	justify-content:space-between;
	width:100%;
	border:none;
    font-size:14px;
    font-weight:500;
}

.inner-trigger {
	display:flex;
	gap:8px;
	align-items:center;
}

.listminus-btn {
	min-width:40px;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#F4F4F5;
	border-radius:6px;
	border:none;
}
.upper-sidebar {
	display:flex;
	justify-content:space-between;
	gap:8px;
	position:relative;
}

.rightside-menu-group {
	display:flex;
	flex-direction:column;
	gap:8px;
}

.submenus,.inner-submenus {
	display:none;
}

.with-innersubmenu {
	font-weight:600;
}
.submenus.active {
	display:block;
	margin-bottom:24px;
}
.inner-submenus.active{
	display:block;
}
.submenu-arrow{
	transform:rotate(0deg);
	transition:all 200ms;
}
.submenu-arrow.active {
	transform:rotate(180deg);
	transition:all 200ms;
}

.navbar,.content {
	margin-left:calc(var(--left-sidebar-size) + var(--right-sidebar-size));
	transition:all 300ms;
}

.navbar.inactive,.content.inactive {
	margin-left:calc(var(--left-sidebar-size) + 1px);
	transition:all 300ms;
}

.icon-btn {
	background-color:#F4F4F5;
	border:1px solid #E4E4E7;
	border-radius:6px;
	display:flex;
	min-width:36px;
	min-height:36px;
	align-items:center;
	justify-content:center;
	box-sizing:border-box;
}
.icon-btn.add {
	background-color:white;
}

.link-btn,.modal-btn {
	display:flex;
	gap:8px;
	border-radius:6px;
	align-items:center;
	width:100%;
	background:none;
	border:none;
}

.link-btn {
    padding:8px 16px;
    font-size:13px;
    line-height:20px;
}

.modal-btn{
    padding:6px 8px;
    font-size:14px;
    line-height:20px;
	align-items:center;
	justify-content:space-between;
}

.modal-btn-text {
	display:flex;
	align-items:center;
	gap:8px;
}

.link-btn:hover,.main-menu:hover,.modal-btn:hover {
    background-color:#F4F4F5;
	text-decoration:none;
}

.main-menu {
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:100%;
	padding:8px 16px;
    border-radius:6px;
	color:#797979;
	font-size:14px;
	font-weight:600;
	line-height:20px;
	background:none;
	border:none;
	letter-spacing:-0.35px;
}

.navside {
	height:100%;
	background-color:white;
	padding:12px;
	top:0;
}

.nav-leftside {
	display:flex;
	flex-direction:column;
	gap:17px;
	position:fixed;
	z-index:11;
	overflow-y:auto;
	border-right:1px solid #E4E4E7;
	align-items:center;
}

.nav-rightside {
	width:var(--right-sidebar-size);
	left:var(--left-sidebar-size);
	border-right:1px solid #E4E4E7;
	position:fixed;
	z-index:9;
}

.nav-rightside.active {
	transition:all 300ms;
	transform:translateX(0)
}

.nav-rightside.inactive {
	transition:all 300ms;
	transform:translateX(-120%)
}

.upgrade-to-pro {
	display:flex;
	color:#006AFF;
	font-size:12px;
	gap:8px;
	align-items:center
}

.inner-submenu {
	margin-left:15px;
	width:calc(100% - 15px);
	font-weight:500;
}

.input-text {
	outline:none;
	font-size:14px;
	border:none;
}

.search-app {
	display:flex;
	align-items:center;
	gap:8px;
	padding:8px 12px;
	border-bottom:1px solid #E4E4E7;
	width:100%;
	background-color:white;
	border-radius:6px 6px 0 0;
	margin:0;
}

.modal-withsubmenus{
	position:relative;
}

.modal-withsubmenus:hover .modal-submenus{
	opacity:1;
	visibility:visible;
	transition:all 200ms;
}

.modal-btns-sec{
	padding:4px;
	border-bottom:1px solid #E4E4E7;
}

.modal-desc{
	padding:4px;
	border-bottom:1px solid #E4E4E7;
}

.modal-bottom {
	padding:4px;
	border-radius:0 0 6px 6px;
}

#modal-menus, .modal-submenus{
	opacity:0;
	visibility:hidden;
	position:absolute;
    border:1px solid #E4E4E7;
	border-radius:6px;
	background-color:white;
	box-shadow:0px 4px 6px -1px rgba(0, 0, 0, 0.10), 0px 2px 4px -2px rgba(0, 0, 0, 0.10);
}

#modal-menus{
	top:40px;
	left:0;
	z-index:33;
	width:100%;
	transition:opacity 200ms, visibility 200ms, top 200ms;
}

.modal-submenus {
	top:0;
	left:calc(100% + 8px);
	width:200px;
	padding:4px;
	z-index:33;
	margin-left:0;
	transition:opacity 200ms,visibility 200ms;
}

.modal-sec {
	margin-top:8px;
}

#sidebar-menus {
	overflow-y:auto;
	height:calc(100% - 40px);
	margin:8px 0;
}

#upper-menu .link-btn {
	font-weight:500;
}

#lower-menu {
	margin-top:16px;
}

#modal-menus.active {
	opacity:1;
	visibility:visible;
	top:48px;
	transition:all 200ms;
}

.modal-heading {
	font-size:12px;
	color:#71717A;
	font-weight:500;
	padding-bottom:4px;
	margin:0;
}

.modal-heading.in-submenu {
	padding:0 8px 4px;
}

.icon-circle {
	width:20px;
	height:20px;
	border-radius:50%;
}

.w-full {width:100%}

.navbar {
    padding:16px 28px;
}

.main-section:has(.nav-rightside.inactive) #body>.content {
	margin-left:var(--left-sidebar-size);
}

.navbar-home {
    font-weight:500;
    font-size:14px;
}
